<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feier.userServer.mapper.UserPasswordMapper">

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="encrptPassword!=null and encrptPassword!=''">
                encrpt_password,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
        </trim>
    </sql>
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="encrptPassword!=null and encrptPassword!=''">
                #{encrptPassword},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
        </trim>
    </sql>

    <insert id="insertSelect" useGeneratedKeys="true" keyProperty="id" parameterType="com.feier.userServer.entity.UserPassword">
        insert into user_password (<include refid="key"/>) values (<include refid="values"/>)
    </insert>

</mapper>
